* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fff;
  color: #000;
}

.background {
  position: fixed;                          
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;                           
  background: linear-gradient(to right, black 0%, black 40%, rgba(0,0,0,0) 100%),
    url('../images/bb.webp');
  background-size: cover;
}

main{
  margin-top: 100px;
}
.navbar {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  flex-wrap: nowrap;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 0 0 10px 1opx;
  transition: transform 0.4s ease,filter 0.4s ease, box-shadow 0.4s ease
  
}

.logo {
  color: #eee;
  font-weight: 700;
  font-size: 24px;
  flex: 0 0 auto;
    
  display: flex;            
  align-items: center;      
  gap: 10px;               
}

.logo-img {
  width: 50px;               
  height: 50px;              
  border-radius: 50%;        
  object-fit: cover;         
  background: none;          
  display: block;  
} 

.nav-links {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  display: flex;
}


.nav-links a {
  text-decoration: none;
  color: rgb(244, 243, 243);
  margin-left: 30px;
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-login {
  margin-left: auto;
}

.login-nav-btn {
  border: 2px solid white;
  padding: 8px 22px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-nav-btn:hover {
  background: white;
  color: black;
}

.login-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 3000;
}

#login-toggle:checked ~ .login-popup {
  opacity: 1;
  pointer-events: auto;
}

.login-container {
  position: relative;
  width: 720px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-popup {
  width: 360px;
  background: white;
  padding: 60px 40px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  z-index: 2; 
  position: relative;
}

.login-card-popup h2 {
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 400;
  color: #333;
}

.login-card-popup input {
  width: 100%;
  padding: 14px;
  margin-bottom: 22px;
  border: 1px solid #aaa;
  font-size: 15px;
}

.popup-login-btn {
  display: block;
  width: 100%;
  background: #555;
  color: white;
  padding: 14px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.forgot-link {
  display: block;
  margin-top: 18px;
  color: #0d6efd;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.login-side-panel {
  position: absolute;  
  width: 500px;        
  height: 600px;     
  background: #311e01;
  color: white;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20%;           
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;          
  border-radius: 20px; 
}

.login-side-panel h3 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-side-panel p {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.register-side-btn {
  border: 2px solid white;
  padding: 12px 35px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  width: fit-content;
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.center {
    display: flex;
    align-items: flex-start;   
    gap: 50px;                
    padding: 80px;            
    padding-top: 220px;
}

.center h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 3000;
    letter-spacing: 8px;
    line-height: 1.2;
    margin: 0;

    color: transparent;
    -webkit-text-stroke: 2px brown;
    transition: color 0.3s ease;
    cursor: pointer;
    text-align: left;
}

.center p {
    color: gray;
    font-size: 25px;
    margin: 0;                 
    max-width: 600px;         
    line-height: 1.6;
}

.center h1:hover,
.center h1:focus {
  color: white;
}

.about-me {
  padding: 80px 0;
  background-color: #000;
}

.horizontal-gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 20px;
  background: #111;
  scroll-behavior: smooth;
}

.horizontal-gallery img {
  width: 200px;     
  height: 200px;    
  object-fit: cover;  
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.3s ease;
}

.horizontal-gallery img:hover {
  transform: scale(1.05);
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  text-align: center;
  padding: 20px;
}

.lightbox img {
  width: 400px;      
  height: 400px;
  object-fit: cover; 
  border-radius: 12px;
  margin-bottom: 15px;
}

.lightbox h2 {
  color: #f0c040;
  font-size: 35px;
  margin-bottom: 8px;
}

.lightbox p {
  color: white;
  max-width: 400px;
  font-size: 30px;
  line-height: 1.6;
  padding: 10px 15px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
}


.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.footer {
  background: #111;
  color: #fff;
  padding: 80px 0 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 40px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  color: #fff;
}

.footer-box p {
  font-size: 15px;
  line-height: 1.7;
  color: #ccc;
}

.footer-box img {
  width: 60px;
  margin-bottom: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 1024px) {

  .center h1 {
    font-size: 70px;
    padding-top: 100px;
    padding-left: 40px;
    text-align: center;
    letter-spacing: 6px;
  }

  .center h2 {
    font-size: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .horizontal-gallery img {
    width: 180px;
    height: 180px;
  }

  .lightbox img {
    width: 250px;
    height: 250px;
  }

  .lightbox h2 {
    font-size: 20px;
  }

  .lightbox p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 15px 20px;
  }

  .nav-links {
    position: static;
    transform: none;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a {
    margin: 6px 12px;
    font-size: 16px;
  }

  
  .center h1 {
    font-size: 50px;
    padding-top: 200px;
  }

  .center h2 {
    font-size: 40px;
    margin-bottom: 60p
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
    height: auto;
    padding: 20px 0;
  }

  .login-card-popup {
    width: 80%;
    padding: 40px 20px;
  }

  .login-side-panel {
    width: 70%;
    height: auto;
    padding: 40px 20px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    height: auto;
    padding: 10px 0;
  }

  .login-card-popup {
    width: 90%;
    padding: 30px 15px;
  }

  .login-card-popup h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .login-card-popup input {
    padding: 12px;
    font-size: 14px;
    margin-bottom: 18px;
  }

  .popup-login-btn {
    padding: 12px;
    font-size: 14px;
  }

  .login-side-panel {
    display: none; 
  }

  .close-btn {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px 20px;
  }

  .nav-links {
    order: 1;
    position: static;
    transform: none;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-login {
    order: 2;
    margin-top: 15px;
  }

  .login-container {
    width: 90%;
    height: auto;
    padding: 20px 0;
  }

  .login-card-popup {
    width: 80%;
    padding: 40px 20px;
  }

  .login-side-panel {
    width: 70%;
    height: auto;
    padding: 40px 20px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    height: auto;
    padding: 10px 0;
  }

  .login-card-popup {
    width: 90%;
    padding: 30px 15px;
  }

  .login-side-panel {
    display: none; 
  }

  .close-btn {
    font-size: 24px;
  }
}
